# Banco de Dados
###  Salvar uma tabela

In [1]:
import pandas as pd
df_produtos = pd.DataFrame({'nome': ['ovos', 'manteiga', 'peixe'],
                   'valor': [10, 20, 30]})
df_produtos

       nome  valor
0      ovos     10
1  manteiga     20
2     peixe     30

In [2]:
import sqlite3
# Conectar ao banco de dados
conn = sqlite3.connect('coderhouse.db')

# Escrever o DataFrame na tabela 'produtos'
df_produtos.to_sql('produtos', conn, if_exists='replace', index=False)

# Fechar a conexão com o banco de dados
conn.close()

### Leitura da tabela

In [3]:
conn = sqlite3.connect('coderhouse.db')

# Executar uma consulta SELECT na tabela 'produtos' e converter em um DataFrame
query = "SELECT * FROM produtos"
df = pd.read_sql(query, conn)
print(df)

conn.close()

       nome  valor
0      ovos     10
1  manteiga     20
2     peixe     30

### Tabelas no Banco de Dados

In [4]:
conn = sqlite3.connect('coderhouse.db')

# Executar uma consulta que retorna as informações do esquema do banco de dados
query = "SELECT name FROM sqlite_master WHERE type='table'"
schema = pd.read_sql_query(query, conn)

# Imprimir o DataFrame com os nomes das tabelas
print(schema)

conn.close()

       name
0  fastfood
1  produtos

In [5]:
conn = sqlite3.connect('coderhouse.db')

# Executar uma consulta SELECT na tabela 'produtos' e converter em um DataFrame
query = "SELECT * FROM fastfood"
df_fast = pd.read_sql(query, conn)
print(df_fast)

conn.close()

    restaurant                                       item  calories  cal_fat  \
0    Mcdonalds           Artisan Grilled Chicken Sandwich       380       60
1    Mcdonalds             Single Bacon Smokehouse Burger       840      410
2    Mcdonalds             Double Bacon Smokehouse Burger      1130      600
3    Mcdonalds  Grilled Bacon Smokehouse Chicken Sandwich       750      280
4    Mcdonalds   Crispy Bacon Smokehouse Chicken Sandwich       920      410
..         ...                                        ...       ...      ...
510  Taco Bell             Spicy Triple Double Crunchwrap       780      340
511  Taco Bell                Express Taco Salad w/ Chips       580      260
512  Taco Bell                     Fiesta Taco Salad-Beef       780      380
513  Taco Bell                  Fiesta Taco Salad-Chicken       720      320
514  Taco Bell                    Fiesta Taco Salad-Steak       720      320

     total_fat sat_fat            trans_fat  cholesterol  sodium  total_carb  \
0            7       2                    0           95    1110          44
1           45      17  2023-05-01 00:00:00          130    1580          62
2           67      27                    3          220    1920          63
3           31      10                  0.5          155    1940          62
4           45      12                  0.5          120    1980          81
..         ...     ...                  ...          ...     ...         ...
510         38      10                  0.5           50    1850          87
511         29       9                    1           60    1270          59
512         42      10                    1           60    1340          74
513         35       7                    0           70    1260          70
514         36       8                    1           55    1340          70

     fiber  sugar  protein  vit_a  vit_c  calcium  salad
0      3.0     11     37.0    4.0   20.0     20.0  Other
1      2.0     18     46.0    6.0   20.0     20.0  Other
2      3.0     18     70.0   10.0   20.0     50.0  Other
3      2.0     18     55.0    6.0   25.0     20.0  Other
4      4.0     18     46.0    6.0   20.0     20.0  Other
..     ...    ...      ...    ...    ...      ...    ...
510    9.0      8     23.0   20.0   10.0     25.0  Other
511    8.0      7     23.0    NaN    NaN      NaN  Other
512   11.0      7     26.0    NaN    NaN      NaN  Other
513    8.0      8     32.0    NaN    NaN      NaN  Other
514    8.0      8     28.0    NaN    NaN      NaN  Other

[515 rows x 17 columns]

In [6]:
df_produto = pd.DataFrame({'comida': ['ovos', 'manteiga', 'peixe', 'frango', 'leite'],
                   'valor': [10, 20, 30, 20, 10]})
df_produto

     comida  valor
0      ovos     10
1  manteiga     20
2     peixe     30
3    frango     20
4     leite     10

In [9]:
conectar = sqlite3.connect('sthe.db')

# Executar uma consulta que retorna as informações do esquema do banco de dados
query = "SELECT name FROM sqlite_master WHERE type='table'"
schema = pd.read_sql_query(query, conectar)

# Imprimir o DataFrame com os nomes das tabelas
print(schema)

conectar.close()

   name
0  agua

In [10]:
# Conectar ao banco de dados
conectar = sqlite3.connect('sthe.db')


# Escrever o DataFrame na tabela 'produtos'
df_produto.to_sql('agua', conectar, index=False)


# Fechar a conexão com o banco de dados
conectar.close()

ValueError: Table 'agua' already exists.