# Banco de Dados
## Exercicios em Sala

In [6]:
import pandas as pd
import sqlite3

1. Criar as seguintes funções:
 - **def tabelas_bd():** retorna um dataframe com as tabelas do banco de dados.
 - **def salva_bd(df, nome_tabela):** salva dataframe df na tabela nome_tabela.
 - **def carrega_bd(nome_tabela):** carrega tabela nome_tabela num dataframe.  
Todas as funções devem abrir e fechar a conexão com o banco de dados coderhouse.db criado anteriormente.

In [14]:
def tabelas_bd():
    '''
        Retorna um dataframe com as tabelas do banco de dados.
    '''
    conn = sqlite3.connect('coderhouse.db')

    # Executar uma consulta que retorna as informações do esquema do banco de dados
    query = "SELECT name FROM sqlite_master WHERE type='table'"
    schema = pd.read_sql_query(query, conn)

    conn.close()

    return schema

In [21]:
def salva_bd(df, nome_tabela):
    '''
        Salva dataframe df na tabela nome_tabela.
    '''
    conn = sqlite3.connect('coderhouse.db')

    # Escrever o DataFrame na tabela 'nome_tabela'
    df.to_sql(nome_tabela, conn, if_exists='replace', index=False)

    conn.close()

    return True

In [25]:
def carrega_bd(nome_tabela):
    '''
        Carrega tabela nome_tabela num dataframe. 
    '''
    conn = sqlite3.connect('coderhouse.db')

    # Executar uma consulta SELECT na tabela 'produtos' e converter em um DataFrame
    query = f"SELECT * FROM {nome_tabela}"
    df = pd.read_sql(query, conn)

    conn.close()

    return df

2. Utilize a tabela do arquivo **fastfood.xlsx** para testar as funções criadas adicionando o dataframe ao banco de dados.

In [13]:
fastfood = pd.read_excel("fastfood.xlsx")
fastfood.head(2)

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other

In [17]:
tabelas_bd()

       name
0  produtos

In [22]:
salva_bd(fastfood, "fastfood")

True

In [23]:
tabelas_bd()

       name
0  produtos
1  fastfood

In [26]:
df_new = carrega_bd("fastfood")
df_new.head(2)

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other