# Fundamentos de programação I

# Variáveis

In [6]:
var_int = 2
var_int

2

In [7]:
var_float = 2.0
var_float

2.0

In [8]:
var_str = "Don't panic"
var_str

"Don't panic"

In [9]:
var_str = 'Don\'t panic'
var_str

"Don't panic"

In [10]:
var_bool = True
var_bool

True

Erros

In [11]:
nome = "Joao"
Nome = "Maria"
nome

'Joao'

In [12]:
1var_str = "erro"

SyntaxError: invalid decimal literal (819778002.py, line 1)

In [ ]:
def = 3
def

SyntaxError: invalid syntax (1859973532.py, line 1)

Função type()

In [ ]:
type(var_str)

str

In [ ]:
type(2.2)

float

Função print()

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Variavel inteira é", var_int)

Variavel inteira é 2

In [14]:
print("Variavel 1:", type(var_int))
print("Variavel 2:", type(var_float))
print("Variavel 3:", type(var_str))
print("Variavel 4:", type(var_bool))

Variavel 1: <class 'int'>
Variavel 2: <class 'float'>
Variavel 3: <class 'str'>
Variavel 4: <class 'bool'>

Função input()

In [16]:
idade = input()
idade

'10'

In [18]:
idade = input("Sua idade:")
nome  = input("Seu nome: ")

print("Olá", nome,"você tem",idade, "anos")

Olá João você tem 56 anos

In [19]:
print(f"Olá {nome} você tem {idade} anos")

Olá João você tem 56 anos

Comentarios

In [ ]:
# Comentario: Funcao type retorna o tipo da variavel 
type(var_str)

In [ ]:
type(var_str) # Comentario na mesma linha: Funcao type retorna o tipo da variavel

In [15]:
'''
    Comentario com varias linhas
    Funcao type retorna o tipo da variavel 
''' 
type(var_str)

str

# Operações

In [25]:
x = 10
y = 5
z = 3

In [24]:
soma = x + y
sub  = x - y
mul  = x*y
div  = x/y
print(soma,sub,mul,div)

15 5 50 2.0

In [26]:
potencia = x**z
modulo   = x%z
div_int  = x//z
print(potencia,modulo,div_int)

1000 1 3

In [28]:
print(x == 12)
print(x == 10)

False
True

In [31]:
print(x != y)
print(x > y)
print(x < y)

True
True
False

In [32]:
print(x > y*2)
print(x >= y*2)

False
True

In [38]:
print(0 < x and x < 100)

True

In [40]:
print((10 == x) or (10 == y))
print(not True)

True
False

In [44]:
print(False and  True or True )
print(False and (True or True))

True
False

# Estruturas de Dados

In [53]:
minha_lista = [1, 2.2, "três", 4.0]
minha_lista[2]

'três'

In [50]:
minha_lista2 = [5, 6, [7, 8]]
minha_lista2

[5, 6, [7, 8]]

In [51]:
minha_lista2.append('nove')
minha_lista2

[5, 6, [7, 8], 'nove']

In [52]:
lista_completa = minha_lista + minha_lista2
lista_completa

[1, 2.2, 'três', 4.0, 5, 6, [7, 8], 'nove']

In [54]:
lista_ordernar = [5,2,1,3,4]
lista_ordernar.sort()
lista_ordernar

[1, 2, 3, 4, 5]

In [55]:
meu_dict = {"chave1": "valor1", "chave2": 2, "chave3": [1, 2, 3]}
meu_dict

{'chave1': 'valor1', 'chave2': 2, 'chave3': [1, 2, 3]}

In [57]:
joao = {"nome":"Joao Silva",
        "idade":56}

joao["altura"] = 1.81

joao

{'nome': 'Joao Silva', 'idade': 56, 'altura': 1.81}

In [58]:
minha_tupla = (1, "dois", 3.0)
minha_lista = [1, "dois", 3.0]

In [59]:
minha_lista[1] = 2
minha_lista

[1, 2, 3.0]

In [60]:
minha_tupla[1] = 2
minha_tupla

TypeError: 'tuple' object does not support item assignment

In [61]:
meu_set = {1,2,2,3,4,5,2}
meu_set

{1, 2, 3, 4, 5}

In [69]:
agora_lista = list(meu_set)
agora_tupla = tuple(meu_set)
print(meu_set)
print(agora_lista)
print(agora_tupla)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [90]:
minha_lista = [1,20,300,4000,50000]
print(minha_lista[0])
print(minha_lista[4])

1
50000

In [91]:
print(minha_lista[-1])
print(minha_lista[-3])

50000
300

In [94]:
minha_lista = [1,20,300,4000,50000]
print(minha_lista[:3])
print(minha_lista[1:3])
print(minha_lista[3:])
print(minha_lista[-2:])

[1, 20, 300]
[20, 300]
[4000, 50000]
[4000, 50000]

In [95]:
len(minha_lista)

5

# String

In [73]:
string1 = "Hello"
string2 = "World"
concatenada = string1 + " " + string2
concatenada

'Hello World'

In [74]:
nome = "Joao"
idade = 56
frase = "Oi, meu nome é {} e tenho {} anos".format(nome, idade)
print(frase)
print(f"Oi, meu nome é {nome} e tenho {idade} anos")

Oi, meu nome é Joao e tenho 56 anos
Oi, meu nome é Joao e tenho 56 anos

In [84]:
print(frase[:4])
print(frase[4:20])
print(frase[20:])

Oi,
meu nome é Joao
e tenho 56 anos

In [85]:
frase = "Oi, meu nome é Joao e tenho 56 anos"
nova_frase = frase.replace("Joao", "Carlos")
nova_frase

'Oi, meu nome é Carlos e tenho 56 anos'

In [86]:
frase = "      Hello World  "
nova_frase = frase.strip()
print(nova_frase)

Hello World

In [96]:
texto = "Hello World!"
texto_maiusculo = texto.upper()
print(texto_maiusculo)

HELLO WORLD!

In [97]:
texto = "Hello World!"
texto_minusculo = texto.lower()
print(texto_minusculo)

hello world!

In [88]:
frase = "Oi, meu nome é Joao e tenho 56 anos"
frase.split(',')

['Oi', ' meu nome é Joao e tenho 56 anos']

In [89]:
frase.split()

['Oi,', 'meu', 'nome', 'é', 'Joao', 'e', 'tenho', '56', 'anos']