# Manipulações de dados com Pandas I
## Desafio obrigatório
1. Abra o arquivo "best-selling game consoles.xlsx" em um dataframe.

In [1]:
import pandas as pd

In [22]:
consoles = pd.read_excel("best-selling game consoles.xlsx",
                      sheet_name="consoles")
consoles.head()

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
0,PlayStation 2,Home,Sony,2000,2013,155.00,Final sales are greater than 155 million
1,Nintendo DS,Handheld,Nintendo,2004,2013,154.02,NaN
2,Nintendo Switch,Hybrid,Nintendo,2017,0,122.55,NaN
3,Game Boy,Handheld,Nintendo,1989,2003,64.42,The Game Boy (1989) and the Game Boy Color (19...
4,Game Boy Color,Handheld,Nintendo,1998,2003,44.06,NaN

2. Substitua a palavra "NES" por "Nitendinho" no nome dos consoles e deixe todos os nomes em maiúsculos.

In [29]:
consoles['Console Name'] = consoles['Console Name'].str.replace('NES','Nitendinho')
consoles['Console Name'] = consoles['Console Name'].str.upper()
consoles.head()

,Console Name,Type,Company,Released Year,Discontinuation Year,Units sold (million),Remarks
0,PLAYSTATION 2,Home,Sony,2000,2013,155.00,Final sales are greater than 155 million
1,NINTENDO DS,Handheld,Nintendo,2004,2013,154.02,NaN
2,NINTENDO SWITCH,Hybrid,Nintendo,2017,0,122.55,NaN
3,GAME BOY,Handheld,Nintendo,1989,2003,64.42,The Game Boy (1989) and the Game Boy Color (19...
4,GAME BOY COLOR,Handheld,Nintendo,1998,2003,44.06,NaN

3. Filtre o nome dos consoles com data de release depois de 2010

In [30]:
consoles.loc[consoles['Released Year']>2012,'Console Name']

2                      NINTENDO SWITCH
5                        PLAYSTATION 4
14                            XBOX ONE
19                       PLAYSTATION 5
23                     XBOX SERIES X/S
33    SUPER NITENDINHO CLASSIC EDITION
35          NITENDINHO CLASSIC EDITION
Name: Console Name, dtype: object

4. De um describe e info da base, substitua os missing values pela string "missing".

In [34]:
consoles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Console Name          51 non-null     object
 1   Type                  51 non-null     object
 2   Company               51 non-null     object
 3   Released Year         51 non-null     int64
 4   Discontinuation Year  51 non-null     int64
 5   Units sold (million)  51 non-null     float64
 6   Remarks               16 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.9+ KB

In [35]:
consoles.describe()

       Released Year  Discontinuation Year  Units sold (million)
count      51.000000             51.000000             51.000000
mean     1996.058824           1844.803922             35.549412
std        12.378064            543.657319             42.608844
min      1976.000000              0.000000              1.000000
25%      1987.500000           1992.000000              3.200000
50%      1994.000000           1998.000000             13.560000
75%      2004.500000           2011.500000             60.205000
max      2020.000000           2020.000000            155.000000

In [38]:
consoles['Remarks'] = consoles['Remarks'].fillna('missing')
# ou consoles.fillna('missing', inplace = True)
consoles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Console Name          51 non-null     object
 1   Type                  51 non-null     object
 2   Company               51 non-null     object
 3   Released Year         51 non-null     int64
 4   Discontinuation Year  51 non-null     int64
 5   Units sold (million)  51 non-null     float64
 6   Remarks               51 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.9+ KB

5. Filtre os consoles que foram descontinuados a menos de 2 anos da data de release.

In [51]:
consoles['descontinuado'] = consoles['Discontinuation Year'] - consoles['Released Year']

consoles.loc[(consoles['descontinuado']<=2)&(consoles['descontinuado']>0),
             ['Console Name','Released Year','Discontinuation Year']]

                        Console Name  Released Year  Discontinuation Year
33  SUPER NITENDINHO CLASSIC EDITION           2017                  2018
35        NITENDINHO CLASSIC EDITION           2016                  2018
41                            N-GAGE           2003                  2005
49                           TELSTAR           1976                  1978
50                        ATARI 5200           1982                  1984